h1{
    font-size: 60px ;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 7px;
    border :springgreen solid;
    border-width: 60px;
}
body{
    color: white;
    background-color: black;
    text-align: center;
}
#b1{
    border: solid white;
    color: white;
    background-color: purple;
    border-radius: 7px;
    margin-top: 50px;
    margin-right: 40px;
    font-size: 40px;
}
#b2{
    border: solid white;
    color: white;
    background-color: purple;
    border-radius: 7px;
    margin-top: 50px;
    margin-left: 40px;
    font-size: 40px;
}
